<%-include("./partials/header")%>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Todo App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <div class="container mt-5">
    <form action="/add/todo" method="post" class="d-flex mx-2 my-2">
        <input type="text" name="todo" class="form-control" placeholder="Enter Todo">
        <input type="submit" class="mx-2 btn btn-md btn-primary" value="Add Todo">
    </form>


    <ul class="list-group mx-2 mt-5 d-flex">
        <% todo.forEach(todos => { %>
            <li class="list-group-item d-flex justify-content-between align-items-center"><%= todos.todo %> <a href="/delete/todo/<%= todos._id %>" class="btn btn-danger btn-sm ">delete</a></li>
            
            <% }); %>
      </ul>
  </div>
  




<%-include("./partials/footer")%>
